.nameSecond{
    font-size: 70px;

    font-weight: normal;

    font-family: "Impact", sans-serif;
    text-shadow: 1px 1px 2px rgba(255, 238, 1, 0.836);
    position: absolute;
    left:700px;
    top:50px;
    color: rgb(240, 18, 18);
}

.name{
    font-size: 45px;
    line-height: 50px;
    margin: 1em 0 .6em 0;
    font-weight: normal;

    font-family: "Mistral"/*'Hammersmith One'*/, sans-serif;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    position: absolute;
    transform: rotate(-45deg);
    left:635px;
    top:5px;
    color: #6Cf;
    z-index: 100;
}

.pageBodyClass{
    background-color: #333;
}




a.buttons {
    width: 150px;
    height: 30px;
    text-decoration: none;
    padding-top: 9px;
    color: #a675b3;
    text-align: center;
    line-height: 20px;
    display: block;
    margin: 20px auto;
    font: normal 17px arial;
    position: absolute;
    left:700px;
    top:600px;
  }
  
  a.buttons:not(.active) {
    box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
    background-image: linear-gradient(#3b2751, #271739);
    text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
  }
  
  a.buttons:not(.active):hover,
  a.buttons:not(.active):focus {
    transition: color 200ms linear, text-shadow 500ms linear;
    color: #fff;
    text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
  }
  a.buttons:not(:hover) {
      transition: 2s;
  }
  #log{
    font-size: 20px;
    width: 180px;
    height: 500px;
    padding-left: 5px;
     font-weight: normal;
     font-family: "Impact", sans-serif;
     text-shadow: 3px 3px 10px rgba(10, 11, 17, 0.555);
     position: absolute;
     left:1300px;
     top:100px;
     color: rgb(22, 156, 190);

     overflow-y: auto;
     
  }

  img{

    width:200px; 
    height:350px;
    

  }
  .win{
    display: block;
  }


  .noVisible{
    display:none;

  }
  
  img{
    position: absolute;
    left:670px;
    top:200px;

  }

.class1{
    font-size: 20px;
    width:120px;
     font-weight: normal;
     font-family: "Impact", sans-serif;
     text-shadow: 3px 3px 10px rgba(10, 11, 17, 0.555);
     
     color: rgb(111, 116, 117);
}
.class2{
    font-size: 20px;
    width:120px;
    
     font-weight: normal;
     font-family: "Impact", sans-serif;
     text-shadow: 3px 3px 10px rgba(10, 11, 17, 0.555);
     
     color: rgb(22, 156, 190);
}
.class3{
    font-size: 20px;
    width:120px;
    
     font-weight: normal;
     font-family: "Impact", sans-serif;
     text-shadow: 3px 3px 10px rgba(10, 11, 17, 0.555);
     
     color: rgb(22, 156, 190);
}
.class4{
    font-size: 20px;
    width:120px;
    
     font-weight: normal;
     font-family: "Impact", sans-serif;
     text-shadow: 3px 3px 10px rgba(10, 11, 17, 0.555);
    
     color: rgb(22, 156, 190);
}
.class5{
    font-size: 20px;
    width:120px;
    
     font-weight: normal;
     font-family: "Impact", sans-serif;
     text-shadow: 3px 3px 10px rgba(10, 11, 17, 0.555);
     
     color: rgb(22, 156, 190);
}

.class6{
    font-size: 20px;
    width:120px;
    
     font-weight: normal;
     font-family: "Impact", sans-serif;
     text-shadow: 3px 3px 10px rgba(10, 11, 17, 0.555);
     
     color: rgb(22, 156, 190);
}
.class7{
    font-size: 20px;
    width:120px;
    
     font-weight: normal;
     font-family: "Impact", sans-serif;
     text-shadow: 3px 3px 10px rgba(10, 11, 17, 0.555);
     
     color: rgb(22, 156, 190);
}
.class8{
    font-size: 20px;
    width:120px;
    
     font-weight: normal;
     font-family: "Impact", sans-serif;
     text-shadow: 3px 3px 10px rgba(36, 204, 182, 0.555);
   
     color: rgb(159, 190, 22);
}
.class9{
    font-size: 20px;
    width:120px;
    
     font-weight: normal;
     font-family: "Impact", sans-serif;
     text-shadow: 3px 3px 10px rgba(36, 204, 182, 0.555);
     
     color: rgb(190, 173, 22);
}
.class10{
    font-size: 20px;
    width:120px;
    
     font-weight: normal;
     font-family: "Impact", sans-serif;
     text-shadow: 3px 3px 10px rgba(25, 206, 176, 0.664);
     
     color: rgb(190, 22, 22);
}
.class0{
    font-size: 20px;
    width:120px;
    
     font-weight: normal;
     font-family: "Impact", sans-serif;
     text-shadow: 3px 3px 10px rgba(10, 11, 17, 0.555);
     
     color: rgb(66, 68, 68);
}


.page {
	font-family: Verdana;
	font-size: 3em;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: -0.11em; 
	text-shadow: -0.05em 0px 0.07em #000000;
}
 
.page div {
	display: inline-block;
	color: #F00000;
}
.page{
 position :absolute;
 left:80px;
 top:300px;

}

.progress-bar {
   
    height: 25px;
    padding: 5px;
    width: 350px;
    margin: 50px 0;
    position: absolute;
    top:400px;
    left:100px;
   }
   
   .progress-bar span {
    display: block;
    height: 25px;
    width: 200px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-transition: width .1s ease-in-out;
    -moz-transition: width .1s ease-in-out;
    -ms-transition: width .1s ease-in-out;
    -o-transition: width .1s ease-in-out;
    transition: width .1s ease-in-out;
   } 


  
   
   .orange span {
    background-color: #fecf23;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fecf23), to(#fd9215));
    background-image: -webkit-linear-gradient(top, #fecf23, #fd9215);
    background-image: -moz-linear-gradient(top, #fecf23, #fd9215);
    background-image: -ms-linear-gradient(top, #fecf23, #fd9215);
    background-image: -o-linear-gradient(top, #fecf23, #fd9215);
    background-image: linear-gradient(top, #fecf23, #fd9215);
   }       
   
  

   .shine span {
    position: relative;
   }
   
   .shine span::after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;                     
   
    -webkit-animation: animate-shine 1s ease-out infinite;
    -moz-animation: animate-shine 1s ease-out infinite;
   }
   
   @-webkit-keyframes animate-shine {
    0% {opacity: 0; width: 0;}
    50% {opacity: .5;}
    100% {opacity: 0; width: 95%;}
   }
   
   @-moz-keyframes animate-shine {
    0% {opacity: 0; width: 0;}
    50% {opacity: .5;}
    100% {opacity: 0; width: 95%;}
   }
   

    